<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="formController as fc">
    First Name:<br><input type="text" ng-model="fc.form.fName"><br>
    Last Name:<br><input type="text" ng-model="fc.form.lName"><br>
    Email:<br><input type="text" ng-model="fc.form.email"><br>
    Comments:<br><textarea name="" id="" cols="30" rows="10" ng-model="fc.form.comments" ng-disabled="fc.maxLengthReached()"></textarea><br>
    <p>Characters remaining: <span ng-bind="fc.showCharLeft()"></span></p>

    <button ng-click="fc.addForm()">Add</button>
    <button ng-click="fc.form = {}">Clear</button><br>

    <h2>The Table</h2>
    <div ng-controller="tableController as tc">
        <p>Total entries: <span ng-bind="tc.getNumInFormArray();"></span></p>
        <table>
            <tbody>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Comments</th>
                <th>Operation</th>
            </tr>
            <tr>
                <td>{{fc.form.fName + ' ' + fc.form.lName}}</td>
                <td>{{fc.form.email}}</td>
                <td>{{fc.form.comments}}</td>
            </tr>
            <tr ng-repeat="form in formArray">
                <td>{{ form.fName + ' ' + form.lName}}</td>
                <td>{{ form.email }}</td>
                <td>{{ form.comments }}</td>
                <td><button ng-click="tc.deleteForm($index);">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var app = angular.module("myApp", []);
    app.controller('formController', function($scope){
        this.form = {};
        $scope.formArray = [];
        this.maxCommentLength = 25;
        this.showCharLeft = function(){
            if(this.form.comments == undefined){
                return this.maxCommentLength;
            }else {
                return (this.maxCommentLength - this.form.comments.length);
            }
        };
        this.maxLengthReached = function(){
            if(this.showCharLeft() <= 0){
                return true;
            }else{
                return false;
            }
        };
        this.addForm = function(){
            $scope.formArray.push(this.form);
            this.form = {};
        };
    });
    app.controller('tableController', function($scope){
       this.deleteForm = function(formIndex){
           $scope.formArray.splice(formIndex, 1);
       };
       this.getNumInFormArray = function(){
           return $scope.formArray.length;
       };
    });
</script>
</body>
</html>